.notif{
        background-color: #FFE9B9;
        border: 1;
        font-size: 15px;
        padding: 10px 27px;
        border-radius: 8px;
}

.button{
        border: 1;
        color: white;
        padding: 10px 27px;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        margin: 4px 0px;
        cursor: pointer;
        border-radius: 8px;
}

.taskItem {
  text-align: left;
  display: block;
  width: 100%;
  border-style: solid;
  border-color: black;
  padding: 10px 15px;
  font-size: 15px;
  background-color: #DBE9F4;
  border-radius: 15px;
  line-height: 24px;
}

.resourceItem {
  text-align: left;
  display: block;
  width: 100%;
  border-style: solid;
  border-color: black;
  padding: 10px 15px;
  font-size: 15px;
  background-color: #Ab80fa;
  border-radius: 15px;
  line-height: 24px;
}

.formChunk{
  text-align: left;
  display: block;
  width: 100%;
  border-style: solid;
  border-color: black;
  padding: 25px 25px;
  font-size: 15px;
  background-color: #9DD9F3;
  border-radius: 15px;
  line-height: 24px;
}